@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* DM Sans */
  @font-face {
    font-family: 'DM Sans';
    src:
      url('@/assets/fonts/DMSans-Regular.woff2') format('woff2'),
      url('@/assets/fonts/DMSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'DM Sans';
    src:
      url('@/assets/fonts/DMSans-SemiBold.woff2') format('woff2'),
      url('@/assets/fonts/DMSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'DM Sans';
    src:
      url('@/assets/fonts/DMSans-Medium.woff2') format('woff2'),
      url('@/assets/fonts/DMSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'DM Sans';
    src:
      url('@/assets/fonts/DMSans-Bold.woff2') format('woff2'),
      url('@/assets/fonts/DMSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  /* Bricolage Grotesque */
  @font-face {
    font-family: 'Bricolage Grotesque';
    src:
      url('@/assets/fonts/BricolageGrotesque-Bold.woff2') format('woff2'),
      url('@/assets/fonts/BricolageGrotesque-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Bricolage Grotesque';
    src:
      url('@/assets/fonts/BricolageGrotesque-Medium.woff2') format('woff2'),
      url('@/assets/fonts/BricolageGrotesque-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Bricolage Grotesque';
    src:
      url('@/assets/fonts/BricolageGrotesque-SemiBold.woff2') format('woff2'),
      url('@/assets/fonts/BricolageGrotesque-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Bricolage Grotesque';
    src:
      url('@/assets/fonts/BricolageGrotesque-Regular.woff2') format('woff2'),
      url('@/assets/fonts/BricolageGrotesque-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  ::selection {
    @apply bg-tg-primary-color;
    color: white;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'DM Sans', 'Bricolage Grotesque', sans-serif;
    background-color: white;
  }

  ::-webkit-scrollbar {
    width: 4px;
    scrollbar-width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 4px;
  }
}
